.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.heading{
    position: relative;
    font-size: 151px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0) 80%);
    background-clip: text;
    color: transparent;
}

.subheading{
    position: absolute; 
    top: 80px;
    left: 40%;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(228, 64, 103) 0%, rgb(82, 85, 228) 80%);
    background-clip: text;
    color: transparent;
}
.title{
    margin-bottom: 15px;
    font-size: 18px;
}
.subtitle{
    font-size: 18px;
    color:rgba(142, 142, 142, 1);
    text-align: center;
    margin-bottom: 15px;
}
@media only screen and (max-width:1024px) {
    .heading{
        font-size: 90px;
    }
    .subheading{
        top: 40px;
        left: 30%;
    }
}
@media only screen and (max-width:600px) {
    .heading{
        font-size: 45px;
    }
    .subheading{
        top: 20px;
        font-size: 25px;
        left: 30%;
    }
}