.footer{
    background-color: rgba(16, 16, 16, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact {
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    
}
.contactemail{
    display: flex;
}
.contactemail input{
    background-color: rgba(39, 39, 39, 1);
    border: 0;
    width: 400px;
    height: 45px;
    color: rgba(142, 142, 142, 1);
    font-size: 18px;
    padding: 5px 0 5px 20px;
    margin-top: 25px;
    margin-right: 20px;

}
.emailbutton{
    background-color:rgba(255, 255, 255, 1);
    color:  rgba(0, 0, 0, 1);
    width: 120px;
    height: 45px;
    margin-top: 25px;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    
}
.socialicons{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    align-items: center;

}
.icons{
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-top: 40px;
    
}
@media only screen and (max-width:600px) {
    .contactemail{
        flex-direction: column;
        align-items: center;
    }
    .contactemail input{
        width: 300px;
        margin-right: 0;
    }
}