.container{
    display: flex;
    width: 85%;
    background-color: rgb(15, 15, 15);
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    

}
.image{
    display: flex;
    padding: 30px;
}
.image img{
    height: 130px;
    width: 130px;
    
    
}
.projectcontent{
    display: flex;
    flex-direction: column;
}
.heading a{
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.heading a:hover{
    background: linear-gradient(90deg, rgb(228, 64, 103) 0%, rgb(82, 85, 228) 80%);
    background-clip: text;
    color: transparent;
    
}
.desc{
    font-size: 16px;
    margin-bottom: 15px;
}
.desc a{
    font-size: 16px;
    background: linear-gradient(90deg, rgb(228, 64, 103) 0%, rgb(82, 85, 228) 80%);
    background-clip: text;
    color: transparent;
    text-decoration: none;
}
.duration{
    margin-top: 20px;
}
.author{
    font-size: 16px;
}

