.container{
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.questionContent{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.accordion{
    width: 80%;
    
}

