*{
  box-sizing: border-box;
}
body{
  background: #000;
  color: white;
  font-family: 'GilroyMedium';
  
}

.navbar{
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top:0;
  z-index:100;
  transition: 0.8s all ease-in;
  height: 40px;
}

.navbar a{
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: 20px;
}

.navbar a.active{
  background: linear-gradient(135deg, rgb(228, 64, 103) 0%, rgb(209, 84, 153) 45%, rgb(82, 85, 228) 100%);
  background-clip: text;
  color: transparent;
}
.navbar>.nav-btn {
  display: none;
}


.navbar>#nav-check {
  display: none;
}

@media (max-width:700px) {
  .navbar a.active {
    background: linear-gradient(135deg, rgb(228, 64, 103), rgb(82, 85, 228) 90%);
    background-clip: text;
    color: transparent;
  }

  .navbar>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .navbar>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .navbar>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .navbar>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .navbar>.nav-links>a {
    display: block;
    width: 100%;
  }

  .navbar>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .navbar>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}